html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #e6e6e6;
  margin-bottom: 60px;
  font-family: "Open Sans";
}

.navbar {
  border-bottom: 2px solid #000000;
}

.blog-body {
  background-color: #DEDEDE;
  color: #000000;
}
.blog-body .btnmread {
  width: 40px;
}

.blog-bar-head {
  background-color: #1E90FF;
  height: 40px;
}
.blog-bar-head a {
  color: #FFFFFF;
}
.blog-bar-head a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.blog-bar {
  background-color: #F5F5F5;
  height: 200px;
}
.blog-bar ul li {
  list-style-type: none;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer span {
  color: #FFFFFF;
}
