$bg-color:#e6e6e6;
$font:'Open Sans';
$htmlpositionr:relative;
$htmlminheight:100%;
$bodymarginbottom:60px;

html {
  position: $htmlpositionr;
  min-height: $htmlminheight;
}

body {
  background-color: $bg-color;
  margin-bottom: $bodymarginbottom;
  font-family: $font;
}

$navbar-border-bottom:2px solid #000000;

.navbar {
  border-bottom: $navbar-border-bottom;
}

$blogbody-bg-c:#DEDEDE;
$blogbody-c:#000000;
$blogbody-head-a-c:#000000;
$blogbody-button-width:40px;

.blog-body {
  background-color:$blogbody-bg-c;
  color: $blogbody-c;
  .btnmread {
    width: $blogbody-button-width;
  }
}

$blogbar-head-bg-c:#1E90FF;
$blogbar-head-height:40px;
$blogbar-head-a-color:#FFFFFF;
$blogbar-head-a-text-d:none;

.blog-bar-head {
  background-color: $blogbar-head-bg-c;
  height: $blogbar-head-height;
  a {
    color:$blogbar-head-a-color;
    &:hover {
      text-decoration: $blogbar-head-a-text-d;
      color: $blogbar-head-a-color;
    }
  }
}

$blogbar-bg-c:#F5F5F5;
$blogbar-height:200px;
$blogbar-ul-li-lstyle:none;

.blog-bar {
  background-color:$blogbar-bg-c;
  height: $blogbar-height;

  ul li {
    list-style-type: $blogbar-ul-li-lstyle;
  }

}

$footer-position:absolute;
$footer-bottom:0px;
$footer-display:flex;
$footer-align-h:center;
$footer-align-v:center;
$footer-bg-c:#383838;
$footer-width:100%;
$footer-height:60px;
$footer-span-c:#FFFFFF;

.footer {
  position: $footer-position;
  bottom: $footer-bottom;
  width: $footer-width;
  height: $footer-height;
  background-color:$footer-bg-c;
  display: $footer-display;
  justify-content: $footer-align-h;
  align-items: $footer-align-v;

  span {
    color: $footer-span-c;

  }

}